{% extends '@EfcEcommerce/layout/default.html.twig' %}

{% block body %}
<ul>
    <li>Product: {{product.name}}</li>
    <li><small>code:{{product.sku}}</small></li>
    <li><strong>{{product.unitPrice}}</strong></li>
</ul>
{% endblock %}